.docDiv {
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
}

.pointCurrentTotal {
    font-size: 50px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}



.clickThisBtn {
    padding: 20px;
    border-radius: 100px;
}